@{
    ViewData["Title"] = "Home Page";
}

<!-- FINAL DO SIDENAV -->
<!-- CONTEUDO DA PAGINA EM SI -->
<div class="row container">

    <div class="col s12 l12">

        <div class="col s12 l12">
            <br>
            <h5>Home Dashboard</h5>
        </div>

    </div>



</div>