@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login inForma</title>

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body {
            background-color: #0b3f8e;
            user-select: none;
        }

        .input-field input:focus + label {
            color: #fff !important;
        }

        /* label underline focus color || Border bottom*/
        .row .input-field input:focus {
            border-bottom: 1px solid #fff !important;
            box-shadow: 0 1px 0 0 #fff !important
        }
    </style>

</head>

<body>

    <div class="row container s12 l12">
        <br><br>
        <br><br>

        <div class="col s12 l12 ">
            <div class="col s12 l12 center">
                <img src="~/Imagens/golfin.png" class="responsive-img">
            </div>
        </div>

        <div class="col s12 l12">
            <div class="col s12 l12">
                <form class="col s12 l5 offset-l4">
                    <div class="input-field col s12">
                        <input placeholder="Digite seu usuario..." id="first_name" type="text" class="validate"
                               style="color:#fff;">
                        <label for="first_name">Usuario</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Digite sua senha..." id="first_name" type="text" class="validate"
                               style="color:#fff;">
                        <label for="first_name">Senha</label>
                    </div>
                    <div class="col s12 l12">
                        <!-- <input class="waves-effect waves-light btn white" type="submit" name="logar" value="Logar no inForma" style="color:#115FD3; width: 200px;"><br> -->
                        <a asp-controller="Home" asp-action="Index" class="waves-effect waves-light btn white" style="color: #0d47a1;">
                            <i class="material-icons right medium">send</i>Logar no inForma
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="col s12 l12 ">
            <div class="col s12 l12 center">
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <img src="~/Imagens/churrosteam.png" width="170" class="responsive-img">
            </div>
        </div>

    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>

</html>