
@{
    ViewData["Title"] = "Unidade";
}

@{
    Layout = "_Layout";
}

<!-- CONTEUDO DA PAGINA EM SI -->
<div class="row container">

    <div class="col s12 l12">

        <div class="col s12 l12">
            <br>
            <h4 class="flow-text">Cadastrar Unidade</h4>
            <div class="divider"></div>
            <br><br>
            <div class="col s12 l12">
                <form class="col s12 l12">

                    <div class="input-field col s6">
                        <input placeholder="Ex: Osasco, Penha, Paulista" id="first_name" type="text"
                               class="validate">
                        <label for="first_name">Nome da Unidade</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: Av. Paulista..." id="first_name" type="text" class="validate">
                        <label for="first_name">Endereco</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: Penha, Vila Leopoldina..." id="first_name" type="text"
                               class="validate">
                        <label for="first_name">Bairro</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: 4300..." id="first_name" type="text" class="validate">
                        <label for="first_name">Numero</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: Unidade de natacao, Unidade de academia..." id="first_name"
                               type="text" class="validate">
                        <label for="first_name">Descricao</label>
                    </div>

                </form>
            </div>

        </div>

    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>